# Windows File Cache
Thumbs.db
ehthumbs.db

# Windows Icon Database
Desktop.ini

# Windows Installer Files
*.cab
*.msi
*.msm
*.msp
.MirADB

# Windows Shortcuts
*.lnk

# Recycle Bin
$RECYCLE.BIN/

# Macintosh System Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# External Disk
.Spotlight-V100
.Trashes

# Remote AFP Share
.apdisk
.AppleDB
.AppleDesktop
Temporary Items
Network Trash Folder

# Visual Studio User Configuration
Legend of Mir.sln.DotSettings.user
Legend of Mir.v11.suo
Legend of Mir.v12.suo
.vs/Legend of Mir/v15/.suo
.vs/Legend of Mir/v16/.suo

# Visual Studio Build Files
/Client/obj
/Server/obj
/Server.MirForms/obj
/AutoPatcherAdmin/obj
/LibraryViewer/obj
/LibraryEditor/obj
/LibraryViewer/bin
/Build/*

!/Build/Server/
/.vs
Packages
Release
Debug
obj

# Custom Files and Folders
/Notes
/PatcherWebSite
*.user
/Components/CustomFormControl.dll
/Components/CustoMFormControl.pdb
Components/CustomFormControl.dll
Components/CustomFormControl.pdb
/Build/Server/Back Up
/Build/Server/Configs
/Build/Server/Conquests
/Build/Server/Guilds
/Build/Server/Logs
/Build/Server/netstandard2.0
*.dll
/Build/Server/System.Drawing.Common.xml
/Build/Server/Shared.pdb
/Build/Server/Server.rar
/Build/Server/Server.exe
/Build/Server/Microsoft.VisualBasic.PowerPacks.Vs.xml
/Build/Server/log4net.xml
/Build/Server/Envir.rar
/Build/Server/CustomFormControl.pdb
/Build/Server/Envir
/Build/Server/Maps
